.x {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    box-sizing: border-box;
  }

  .x *,
  .x :after,
  .x :before {
    box-sizing: inherit;
  }

  .x-el a[href^="mailto:"]:not(.x-el),
  .x-el a[href^="tel:"]:not(.x-el) {
    color: inherit;
    font-size: inherit;
    text-decoration: inherit;
  }

  .x-el-article,
  .x-el-aside,
  .x-el-details,
  .x-el-figcaption,
  .x-el-figure,
  .x-el-footer,
  .x-el-header,
  .x-el-hgroup,
  .x-el-main,
  .x-el-menu,
  .x-el-nav,
  .x-el-section,
  .x-el-summary {
    display: block;
  }

  .x-el-audio,
  .x-el-canvas,
  .x-el-progress,
  .x-el-video {
    display: inline-block;
    vertical-align: baseline;
  }

  .x-el-audio:not([controls]) {
    display: none;
    height: 0;
  }

  .x-el-template {
    display: none;
  }

  .x-el-a {
    background-color: transparent;
    color: inherit;
  }

  .x-el-a:active,
  .x-el-a:hover {
    outline: 0;
  }

  .x-el-abbr[title] {
    border-bottom: 1px dotted;
  }

  .x-el-b,
  .x-el-strong {
    font-weight: 700;
  }

  .x-el-dfn {
    font-style: italic;
  }

  .x-el-mark {
    background: #ff0;
    color: #000;
  }

  .x-el-small {
    font-size: 80%;
  }

  .x-el-sub,
  .x-el-sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  .x-el-sup {
    top: -0.5em;
  }

  .x-el-sub {
    bottom: -0.25em;
  }

  .x-el-img {
    vertical-align: middle;
    border: 0;
  }

  .x-el-svg:not(:root) {
    overflow: hidden;
  }

  .x-el-figure {
    margin: 0;
  }

  .x-el-hr {
    box-sizing: content-box;
    height: 0;
  }

  .x-el-pre {
    overflow: auto;
  }

  .x-el-code,
  .x-el-kbd,
  .x-el-pre,
  .x-el-samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  .x-el-button,
  .x-el-input,
  .x-el-optgroup,
  .x-el-select,
  .x-el-textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  .x-el-button {
    overflow: visible;
  }

  .x-el-button,
  .x-el-select {
    text-transform: none;
  }

  .x-el-button,
  .x-el-input[type="button"],
  .x-el-input[type="reset"],
  .x-el-input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  .x-el-button[disabled],
  .x-el-input[disabled] {
    cursor: default;
  }

  .x-el-button::-moz-focus-inner,
  .x-el-input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .x-el-input {
    line-height: normal;
  }

  .x-el-input[type="checkbox"],
  .x-el-input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  .x-el-input[type="number"]::-webkit-inner-spin-button,
  .x-el-input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  .x-el-input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
  }

  .x-el-input[type="search"]::-webkit-search-cancel-button,
  .x-el-input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  .x-el-textarea {
    border: 0;
  }

  .x-el-fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  .x-el-legend {
    border: 0;
    padding: 0;
  }

  .x-el-textarea {
    overflow: auto;
  }

  .x-el-optgroup {
    font-weight: 700;
  }

  .x-el-table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .x-el-td,
  .x-el-th {
    padding: 0;
  }

  .x {
    -webkit-font-smoothing: antialiased;
  }

  .x-el-hr {
    border: 0;
  }

  .x-el-fieldset,
  .x-el-input,
  .x-el-select,
  .x-el-textarea {
    margin-top: 0;
    margin-bottom: 0;
  }

  .x-el-fieldset,
  .x-el-input[type="email"],
  .x-el-input[type="text"],
  .x-el-textarea {
    width: 100%;
  }

  .x-el-label {
    vertical-align: middle;
  }

  .x-el-input {
    border-style: none;
    padding: 0.5em;
    vertical-align: middle;
  }

  .x-el-select:not([multiple]) {
    vertical-align: middle;
  }

  .x-el-textarea {
    line-height: 1.75;
    padding: 0.5em;
  }

  .x-el.d-none {
    display: none !important;
  }

  .sideline-footer {
    margin-top: auto;
  }

  .disable-scroll {
    touch-action: none;
    overflow: hidden;
    position: fixed;
    max-width: 100vw;
  }
  @-webkit-keyframes loaderscale {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    45% {
      transform: scale(0.1);
      opacity: 0.7;
    }
    80% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes loaderscale {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    45% {
      transform: scale(0.1);
      opacity: 0.7;
    }
    80% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .x-loader svg {
    display: inline-block;
  }
  .x-loader svg:first-child {
    -webkit-animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) -0.24s
      infinite;
    animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) -0.24s infinite;
  }
  .x-loader svg:nth-child(2) {
    -webkit-animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) -0.12s
      infinite;
    animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) -0.12s infinite;
  }
  .x-loader svg:nth-child(3) {
    -webkit-animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08)
      0s infinite;
    animation: loaderscale 0.75s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0s
      infinite;
  }
  .x-icon > svg {
    transition: transform 0.33s ease-in-out;
  }
  .x-icon > svg.rotate-90 {
    transform: rotate(-90deg);
  }
  .x-icon > svg.rotate90 {
    transform: rotate(90deg);
  }
  .x-icon > svg.rotate-180 {
    transform: rotate(-180deg);
  }
  .x-icon > svg.rotate180 {
    transform: rotate(180deg);
  }
  .x-rt:after {
    content: "";
    clear: both;
  }
  .x-rt ol,
  .x-rt ul {
    text-align: left;
  }
  .x-rt p {
    margin: 0;
  }
  .x-rt br {
    clear: both;
  }
  .mte-inline-block {
    display: inline-block;
  }
  @media only screen and (min-device-width: 1025px) {
    :root select,
    _::-webkit-full-page-media,
    _:future {
      font-family: sans-serif !important;
    }
  }

  @import url("");
  /*
Copyright (c) 2010 - 2013, Matt McInerney (matt@pixelspread.com), Pablo Impallari (impallari@gmail.com), Rodrigo Fuenzalida (hello@rfuenzalida.com) with Reserved Font Name "Raleway"

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL

—————————————————————————————-
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
—————————————————————————————-
*/
  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://img1.wsimg.com/gfonts/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrQ.ttf)
      format("truetype");
  }

  .x .c1-1{letter-spacing:normal}.x .c1-2{text-transform:none}.x .c1-3{background-color:rgb(255, 255, 255)}.x .c1-4{width:100%}.x .c1-5 > div{position:relative}.x .c1-6 > div{overflow:hidden}.x .c1-7 > div{margin-top:auto}.x .c1-8 > div{margin-right:auto}.x .c1-9 > div{margin-bottom:auto}.x .c1-a > div{margin-left:auto}.x .c1-b{font-family:Helvetica, arial, sans-serif}.x .c1-c{font-size:16px}.x .c1-j{background-color:rgb(22, 22, 22)}.x .c1-k{padding-top:72px}.x .c1-l{padding-bottom:72px}.x .c1-m{position:relative}.x .c1-n{display:flex}.x .c1-o{padding:0px !important}.x .c1-s{flex-direction:column}.x .c1-t{flex-grow:1}.x .c1-u{min-width:0px}.x .c1-v{pointer-events:auto}.x .c1-w{display:none}.x .c1-x{top:0px}.x .c1-y{left:0px}.x .c1-z{height:100%}.x .c1-10{width:320px}.x .c1-11{z-index:1001}.x .c1-12{transition:transform 0.4s ease-in-out}.x .c1-13{box-shadow:0 0 4px 0px rgba(0,0,0,0.2)}.x .c1-14{position:fixed}.x .c1-1a{margin-left:auto}.x .c1-1b{margin-right:auto}.x .c1-1c{padding-left:0px}.x .c1-1d{padding-right:0px}.x .c1-1e{max-width:100%}.x .c1-1f{justify-content:center}.x .c1-1g{width:inherit}.x .c1-1h{height:100vh}.x .c1-1i{padding-top:96px}.x .c1-1j{padding-bottom:96px}.x .c1-1p{color:rgb(94, 94, 94)}.x .c1-1q{vertical-align:middle}.x .c1-1r{padding-top:6px}.x .c1-1s{padding-right:6px}.x .c1-1t{padding-bottom:6px}.x .c1-1u{padding-left:6px}.x .c1-1v{cursor:pointer}.x .c1-1w{line-height:1.3em}.x .c1-1x{font-style:normal}.x .c1-1y{position:absolute}.x .c1-1z{top:40px}.x .c1-20{left:40px}.x .c1-21{height:30px}.x .c1-22{width:auto}.x .c1-23:hover{color:rgb(85, 114, 176)}.x .c1-25{flex-basis:0px}.x .c1-2b{display:inline-block}.x .c1-2c{font-family:'Raleway', arial, Sans-Serif}.x .c1-2d{font-size:14px}.x .c1-2m{letter-spacing:inherit}.x .c1-2n{text-transform:inherit}.x .c1-2o{text-decoration:none}.x .c1-2p{word-wrap:break-word}.x .c1-2q{overflow-wrap:break-word}.x .c1-2r{display:inline}.x .c1-2s{border-top:0px}.x .c1-2t{border-right:0px}.x .c1-2u{border-bottom:0px}.x .c1-2v{border-left:0px}.x .c1-2w{color:rgb(85, 114, 176)}.x .c1-2x{font-weight:inherit}.x .c1-2y:hover{color:rgb(51, 70, 111)}.x .c1-2z:active{color:rgb(34, 48, 78)}.x .c1-30{letter-spacing:1.5px}.x .c1-31{line-height:1.2}.x .c1-32{margin-left:0}.x .c1-33{margin-right:0}.x .c1-34{margin-top:0}.x .c1-35{margin-bottom:0}.x .c1-36{color:rgb(27, 27, 27)}.x .c1-37{font-size:19px}.x .c1-38{font-weight:700}.x .c1-3d{word-wrap:normal !important}.x .c1-3e{overflow-wrap:normal !important}.x .c1-3f{visibility:hidden}.x .c1-3g{overflow:visible}.x .c1-3h{font-size:28px}.x .c1-3m{font-size:25px}.x .c1-3r{align-items:flex-start}.x .c1-3v{max-height:100%}.x .c1-3w{overflow-y:hidden}.x .c1-3x:hover{overflow-y:auto}.x .c1-3y{-webkit-margin-before:0}.x .c1-3z{-webkit-margin-after:0}.x .c1-40{-webkit-padding-start:0}.x .c1-41{list-style-type:none}.x .c1-42{line-height:45px}.x .c1-43:last-child{margin-bottom:0}.x .c1-44{letter-spacing:1px}.x .c1-45:active{color:rgb(85, 114, 176)}.x .c1-46{color:rgb(145, 145, 145)}.x .c1-47{font-weight:400}.x .c1-48{color:inherit}.x .c1-49{transition:transform .33s ease-in-out}.x .c1-4a{transform:rotate(0deg)}.x .c1-4b{left:320px}.x .c1-4c{background-color:rgb(246, 246, 246)}.x .c1-4d{max-width:0px}.x .c1-4e{overflow-x:hidden}.x .c1-4f{z-index:10002}.x .c1-4k{padding-left:40px}.x .c1-4l{padding-right:40px}.x .c1-4m{min-width:180px}.x .c1-4n{justify-content:flex-start}.x .c1-4o{align-items:center}.x .c1-4p{color:rgb(87, 87, 87)}.x .c1-4q{display:block}.x .c1-4r{white-space:nowrap}.x .c1-4s{text-align:left}.x .c1-4t{color:#757575}.x .c1-4u:hover{color:rgb(46, 63, 101)}.x .c1-4v:active{color:rgb(83, 112, 173)}.x .c1-4w{height:auto}.x .c1-4x > div{display:flex}.x .c1-4y > div{flex-direction:column}.x .c1-4z > div{align-items:center}.x .c1-50 > div{flex:1}.x .c1-51{background-position:90.26797030599312% 51.73913043478261%}.x .c1-52{flex:1}.x .c1-53{background-size:auto, cover}.x .c1-54{background-blend-mode:normal}.x .c1-55{background-repeat:no-repeat}.x .c1-56{text-shadow:none}.x .c1-5s{min-height:500px}.x .c1-5w{padding-left:24px}.x .c1-5x{padding-right:24px}.x .c1-5y{box-sizing:border-box}.x .c1-5z{flex-direction:row}.x .c1-60{flex-wrap:nowrap}.x .c1-61{margin-right:-12px}.x .c1-62{margin-left:-12px}.x .c1-63{padding-top:16px}.x .c1-64{padding-bottom:16px}.x .c1-65{justify-content:left}.x .c1-6b{flex-shrink:1}.x .c1-6c{flex-basis:10%}.x .c1-6d{max-width:10%}.x .c1-6e{padding-top:0}.x .c1-6f{padding-right:12px}.x .c1-6g{padding-bottom:0}.x .c1-6h{padding-left:12px}.x .c1-6n{vertical-align:top}.x .c1-6u{flex-basis:80%}.x .c1-6v{text-align:center}.x .c1-6w{justify-content:flex-end}.x .c1-73{padding-top:40px}.x .c1-74{padding-bottom:40px}.x .c1-77{[object -object]:0px}.x .c1-78{white-space:pre-line}.x .c1-79{color:rgb(255, 255, 255)}.x .c1-7a{font-size:35px}.x .c1-7f{line-height:1.5}.x .c1-7g{margin-top:24px}.x .c1-7h{margin-bottom:0 !important}.x .c1-7i > p{margin-top:0}.x .c1-7j > p{margin-right:0}.x .c1-7k > p{margin-bottom:0}.x .c1-7l > p{margin-left:0}.x .c1-7m{font-size:22px}.x .c1-7r{font-size:inherit !important}.x .c1-7s{line-height:inherit}.x .c1-7t{font-style:italic}.x .c1-7u{text-decoration:line-through}.x .c1-7v{text-decoration:underline}.x .c1-7w{overflow-y:auto}.x .c1-7x{padding-top:56px}.x .c1-7y{-webkit-overflow-scrolling:touch}.x .c1-7z{transform:translateX(-150vw)}.x .c1-80{overscroll-behavior:contain}.x .c1-81{box-shadow:0 2px 6px 0px rgba(0,0,0,0.2)}.x .c1-82{transition:transform .3s ease-in-out}.x .c1-83{overflow:hidden}.x .c1-84{color:rgb(89, 89, 89)}.x .c1-85{top:unset}.x .c1-86{right:0px}.x .c1-87{bottom:9%}.x .c1-8c{top:80px}.x .c1-8d{height:65%}.x .c1-8e{overscroll-behavior:none}.x .c1-8f{border-color:rgba(185, 185, 185, 0.5)}.x .c1-8g{border-bottom-width:0px}.x .c1-8h{border-bottom-style:solid}.x .c1-8i:last-child{border-bottom:0}.x .c1-8j{padding-top:24px}.x .c1-8k{padding-bottom:24px}.x .c1-8l{min-width:200px}.x .c1-8m{line-height:30px}.x .c1-8o >svg{position:absolute}.x .c1-8p >svg{right:-30px}.x .c1-8q >svg{top:0px}.x .c1-8r >svg{bottom:0px}.x .c1-8s >svg{margin-top:auto}.x .c1-8t >svg{margin-bottom:auto}.x .c1-8u{margin-left:8px}.x .c1-8v{flex-shrink:0}.x .c1-8w{pointer-events:none}.x .c1-8y{flex-wrap:wrap}.x .c1-8z{flex-basis:0%}.x .c1-96 > *{max-width:100%}.x .c1-97 > :nth-child(n){margin-bottom:24px}.x .c1-98  > :last-child{margin-bottom:0 !important}.x .c1-9b{line-height:1.25}.x .c1-9c{background-color:rgb(85, 114, 176)}.x .c1-9d > p > ol{text-align:left}.x .c1-9e > p > ol{display:block}.x .c1-9f > p > ol{padding-left:1.3em}.x .c1-9g > p > ol{margin-left:16px}.x .c1-9h > p > ol{margin-right:16px}.x .c1-9i > p > ol{margin-top:auto}.x .c1-9j > p > ol{margin-bottom:auto}.x .c1-9k > p > ul{text-align:left}.x .c1-9l > p > ul{display:block}.x .c1-9m > p > ul{padding-left:1.3em}.x .c1-9n > p > ul{margin-left:16px}.x .c1-9o > p > ul{margin-right:16px}.x .c1-9p > p > ul{margin-top:auto}.x .c1-9q > p > ul{margin-bottom:auto}.x .c1-9r > ul{text-align:left}.x .c1-9s > ul{display:block}.x .c1-9t > ul{padding-left:1.3em}.x .c1-9u > ul{margin-left:16px}.x .c1-9v > ul{margin-right:16px}.x .c1-9w > ul{margin-top:auto}.x .c1-9x > ul{margin-bottom:auto}.x .c1-9y > ol{text-align:left}.x .c1-9z > ol{display:block}.x .c1-a0 > ol{padding-left:1.3em}.x .c1-a1 > ol{margin-left:16px}.x .c1-a2 > ol{margin-right:16px}.x .c1-a3 > ol{margin-top:auto}.x .c1-a4 > ol{margin-bottom:auto}.x .c1-a5{padding-top:4px}.x .c1-a6{padding-bottom:4px}.x .c1-a7{border-style:solid}.x .c1-a8{border-color:rgb(215, 222, 241)}.x .c1-a9{margin-left:0 !important}.x .c1-aa{border-top-width:0px}.x .c1-ab{border-right-width:0px}.x .c1-ac{border-left-width:0px}.x .c1-af{letter-spacing:3px}.x .c1-ag{text-transform:uppercase}.x .c1-ah{transition:all .5s ease}.x .c1-ai{border-style:none}.x .c1-aj{display:inline-flex}.x .c1-ak{align-items:flex-end}.x .c1-al{min-height:40px}.x .c1-am{background-color:transparent}.x .c1-an svg{margin-top:-2px}.x .c1-ao svg{transform:translateX(0)}.x .c1-ap svg{transition:transform .5s ease}.x .c1-aq .iconText{border-bottom-width:2px}.x .c1-ar .iconText{border-style:solid}.x .c1-as .iconText{border-color:currentColor}.x .c1-at .iconText{padding-bottom:4px}.x .c1-au .iconText{border-top-width:0px}.x .c1-av .iconText{border-right-width:0px}.x .c1-aw .iconText{border-left-width:0px}.x .c1-ax{font-size:12px}.x .c1-ay:hover{color:rgb(198, 198, 198)}.x .c1-az:active{color:rgb(255, 255, 255)}.x .c1-b0:hover svg{transform:translateX(4px)}.x .c1-b7{margin-right:-4px}.x .c1-b8{width:18px}.x .c1-b9{height:18px}.x .c1-ba{top:50%}.x .c1-bb{left:auto}.x .c1-bc{line-height:0}.x .c1-bd{transform:translateY(-50%)}.x .c1-be > img{display:block}.x .c1-bf{margin-right:calc(18px + 8px)}.x .c1-bg{margin-bottom:-24px}.x .c1-bi{flex-basis:100%}.x .c1-bn{border-width:0 !important}.x .c1-bo{aspect-ratio:1 / 1}.x .c1-bp{border-radius:0px}.x .c1-br{padding-bottom:8px}.x .c1-bs{border-color:currentColor}.x .c1-bt{border-bottom-width:2px}.x .c1-bu{width:40px}.x .c1-bv{color:rgb(198, 198, 198)}.x .c1-bx{line-height:1.4}.x .c1-by{margin-bottom:40px}.x .c1-c2{font-size:unset}.x .c1-c3{font-family:unset}.x .c1-c4{letter-spacing:unset}.x .c1-c5{text-transform:unset}.x .c1-c7{text-align:inherit}.x .c1-c8{align-self:inherit}.x .c1-cb{padding-bottom:56px}.x .c1-cc{margin-bottom:24px}.x .c1-ce{padding-top:8px}.x .c1-cf{padding-left:8px}.x .c1-cg{padding-right:8px}.x .c1-cj{border-color:rgb(110, 139, 206)}.x .c1-ck{border-bottom-width:1px}.x .c1-cl{width:50px}.x .c1-cm{z-index:10000}.x .c1-cn{transition:all 1s ease-in}.x .c1-co{box-shadow:0 2px 6px 0px rgba(0,0,0,0.3)}.x .c1-cp{contain:content}.x .c1-cq{bottom:-500px}.x .c1-cy{max-height:300px}.x .c1-d0{justify-content:space-between}.x .c1-d1{margin-bottom:4px}.x .c1-d2{word-break:break-word}.x .c1-d3{flex-basis:50%}.x .c1-d4{padding-left:16px}.x .c1-d5{padding-right:16px}.x .c1-d6{border-top-width:2px}.x .c1-d7{border-right-width:2px}.x .c1-d8{border-left-width:2px}.x .c1-d9:nth-child(2){margin-left:24px}.x .c1-da:hover{color:rgb(0, 0, 0)}.x .c1-db:hover{background-color:rgb(255, 255, 255)}.x .c1-dc:hover{border-color:rgb(255, 255, 255)}.x .c1-dd{right:24px}.x .c1-de{bottom:24px}.x .c1-df{z-index:9999}.x .c1-dg{width:65px}.x .c1-dh{height:65px}.x .c1-dj{border-radius:50%}.x .c1-dk{box-shadow:0px 3px 18px rgba(0, 0, 0, 0.25)}.x .c1-dl{transform:translateZ(0)}
  @media (max-width: 450px) {
    .x .c1-57 {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:450,m");
    }
  }
  @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
    (max-width: 450px) and (min-resolution: 192dpi) {
    .x .c1-58 {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:900,m");
    }
  }
  @media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
    (max-width: 450px) and (min-resolution: 288dpi) {
    .x .c1-59 {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:1350,m");
    }
  }
  @media (min-width: 451px) and (max-width: 767px) {
    .x .c1-5a {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:767,m");
    }
  }
  @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .x .c1-5b {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:1534,m");
    }
  }
  @media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
    .x .c1-5c {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:2301,m");
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-5d {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:1023,m");
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
    .x .c1-5e {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:2046,m");
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
    .x .c1-5f {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:3069,m");
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-5g {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:1279,m");
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .x .c1-5h {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:2558,m");
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
    .x .c1-5i {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:3837,m");
    }
  }
  @media (min-width: 1280px) and (max-width: 1535px) {
    .x .c1-5j {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:1535,m");
    }
  }
  @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
    .x .c1-5k {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:3070,m");
    }
  }
  @media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
    .x .c1-5l {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:4605,m");
    }
  }
  @media (min-width: 1536px) and (max-width: 1920px) {
    .x .c1-5m {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:1920,m");
    }
  }
  @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
    .x .c1-5n {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:3840,m");
    }
  }
  @media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
    .x .c1-5o {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:5760,m");
    }
  }
  @media (min-width: 1921px) {
    .x .c1-5p {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:100%25");
    }
  }
  @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1921px) and (min-resolution: 192dpi) {
    .x .c1-5q {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:100%25");
    }
  }
  @media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
    (min-width: 1921px) and (min-resolution: 288dpi) {
    .x .c1-5r {
      background-image: linear-gradient(
          to bottom,
          rgba(99, 99, 99, 0.25) 0%,
          rgba(99, 99, 99, 0.25) 100%
        ),
        url("//img1.wsimg.com/isteam/ip/a5ecf2f0-d8d8-402d-9418-4f44782721cf/05998aeb-a23a-4a08-879b-125257aa21e9.jpg/:/cr=t:2.4%25,l:8.01%25,w:91.99%25,h:91.99%25/rs=w:100%25");
    }
  }
  @media (max-width: 767px) {
    .x .c1-p {
      padding-top: 40px;
    }
  }
  @media (max-width: 767px) {
    .x .c1-q {
      padding-bottom: 40px;
    }
  }
  @media (max-width: 767px) {
    .x .c1-2e {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .x .c1-2f {
      display: flex;
    }
  }
  @media (max-width: 767px) {
    .x .c1-2g {
      justify-content: center;
    }
  }
  @media (max-width: 767px) {
    .x .c1-99 > :nth-child(n) {
      margin-bottom: 24px;
    }
  }
  @media (max-width: 767px) {
    .x .c1-9a > :last-child {
      margin-bottom: 0 !important;
    }
  }
  @media (max-width: 767px) {
    .x .c1-b1 {
      width: auto;
    }
  }
  @media (max-width: 767px) {
    .x .c1-bq {
      height: calc((100vw - 48px) / 1);
    }
  }
  @media (max-width: 767px) {
    .x .c1-c6 > :nth-child(n) {
      margin-bottom: 16px;
    }
  }
  @media (max-width: 767px) {
    .x .c1-cd {
      flex-direction: column;
    }
  }
  @media (max-width: 767px) {
    .x .c1-ch {
      padding-top: 4px;
    }
  }
  @media (max-width: 767px) {
    .x .c1-ci {
      padding-bottom: 4px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-d {
      font-size: 16px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-1l {
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2h {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .x .c1-2i {
      font-size: 14px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-39 {
      font-size: 19px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-3i {
      font-size: 33px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-3n {
      font-size: 26px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-66 {
      margin-top: 0;
    }
  }
  @media (min-width: 768px) {
    .x .c1-67 {
      margin-right: -24px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-68 {
      margin-bottom: 0;
    }
  }
  @media (min-width: 768px) {
    .x .c1-69 {
      margin-left: -24px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-6i {
      padding-top: 0;
    }
  }
  @media (min-width: 768px) {
    .x .c1-6j {
      padding-right: 24px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-6k {
      padding-bottom: 0;
    }
  }
  @media (min-width: 768px) {
    .x .c1-6l {
      padding-left: 24px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-7b {
      font-size: 42px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-7n {
      font-size: 22px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-88 {
      font-size: 30px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-90 {
      margin-left: 8.333333333333332%;
    }
  }
  @media (min-width: 768px) {
    .x .c1-91 {
      flex-basis: 83.33333333333334%;
    }
  }
  @media (min-width: 768px) {
    .x .c1-92 {
      max-width: 83.33333333333334%;
    }
  }
  @media (min-width: 768px) {
    .x .c1-b2 {
      width: auto;
    }
  }
  @media (min-width: 768px) {
    .x .c1-b3 {
      font-size: 12px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-bh {
      margin-bottom: -48px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-bj {
      padding-bottom: 48px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-c9 {
      flex-basis: 50%;
    }
  }
  @media (min-width: 768px) {
    .x .c1-ca {
      max-width: 50%;
    }
  }
  @media (min-width: 768px) {
    .x .c1-cr {
      width: 400px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-cs {
      max-height: 500px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-ct {
      border-radius: 7px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-cu {
      margin-top: 24px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-cv {
      margin-right: 24px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-cw {
      margin-bottom: 24px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-cx {
      margin-left: 24px;
    }
  }
  @media (min-width: 768px) {
    .x .c1-cz {
      max-height: 200px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-e {
      font-size: 16px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-r {
      min-height: 100vh;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-15 {
      display: block;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-16 {
      transform: translateX(-150vw);
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-1k {
      padding-bottom: 96px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-1m {
      width: 984px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-24 {
      display: block;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-2j {
      font-size: 14px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-3a {
      font-size: 19px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-3j {
      font-size: 33px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-3o {
      font-size: 26px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-3s {
      align-items: center;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-4g {
      padding-top: 72px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-4h {
      padding-bottom: 72px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-4i {
      justify-content: center;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-5t {
      height: 100%;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-5u {
      min-height: 0px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-5v {
      align-items: center;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6m {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6o {
      cursor: pointer;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6p:hover path:nth-child(3) {
      animation: swing-left 1.5s infinite;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6q:hover path:nth-child(2) {
      animation: swing-left 1.5s infinite;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6r:hover path:nth-child(2) {
      animation-delay: 0.3s;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6s:hover path:nth-child(1) {
      animation: swing-left 1.5s infinite;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6t:hover path:nth-child(1) {
      animation-delay: 0.6s;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6x {
      max-width: 66%;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6y {
      margin-left: 0px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-6z {
      margin-right: 0px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-70 {
      display: flex;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-71 {
      flex-direction: column;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-72 {
      justify-content: space-around;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-75 {
      padding-top: 56px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-76 {
      padding-bottom: 56px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-7c {
      font-size: 42px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-7o {
      font-size: 22px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-89 {
      font-size: 30px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-8n {
      min-width: 300px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-8x {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-93 {
      margin-left: 16.666666666666664%;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-94 {
      flex-basis: 66.66666666666666%;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-95 {
      max-width: 66.66666666666666%;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-ad {
      padding-left: 24px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-ae {
      border-left-width: 5px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-b4 {
      font-size: 12px;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-bk {
      flex-basis: 50%;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-bl {
      max-width: 50%;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-bm {
      flex: 1;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-bw {
      font-weight: 400;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-bz {
      text-align: center;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-c0 {
      margin-left: auto;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-c1 {
      line-height: 2;
    }
  }
  @media (min-width: 1024px) {
    .x .c1-di {
      z-index: 9999;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-f {
      padding-left: 320px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-g {
      min-height: 100vh;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-h {
      font-size: 16px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-17 {
      display: block;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-18 {
      transition: none;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-19 {
      transform: translateX(0) !important;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-1n {
      width: 1160px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-26 {
      display: unset;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-27 {
      padding-left: 48px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-28 {
      padding-right: 48px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-29 {
      flex-basis: 10%;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-2a {
      padding-bottom: 100px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-2k {
      font-size: 14px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-3b {
      font-size: 19px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-3k {
      font-size: 39px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-3p {
      font-size: 28px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-3t {
      flex-basis: 80%;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-3u {
      min-height: 0px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-4j {
      padding-top: 215px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-6a {
      display: none;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-7d {
      font-size: 54px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-7p {
      font-size: 22px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-8a {
      font-size: 32px;
    }
  }
  @media (min-width: 1280px) {
    .x .c1-b5 {
      font-size: 12px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-i {
      font-size: 18px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-1o {
      width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-2l {
      font-size: 16px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-3c {
      font-size: 21px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-3l {
      font-size: 42px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-3q {
      font-size: 32px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-7e {
      font-size: 56px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-7q {
      font-size: 24px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-8b {
      font-size: 36px;
    }
  }
  @media (min-width: 1536px) {
    .x .c1-b6 {
      font-size: 14px;
    }
  }
  @keyframes swing-left {
    0%,
    100% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-12px);
    }
  }
  .page-inner {
    background-color: rgb(85, 114, 176);
    min-height: 100vh;
  }
  .grecaptcha-badge {
    visibility: hidden;
  }
  